*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
  background: rgba(46, 45, 45, 0.969);  
}    
h1 {
color:azure;
text-align: center;
}
h2 {
    color:azure;
}
p {
    color:azure;
}
ul {
    color: azure;
}
.game  {
    display: inline-block;
    width: 23%;
    vertical-align: top;
    border: 3px solid rgb(67, 62, 127);
}
img {
    width: 100%;

}
